share/node_modules
share/dist
share/.angular
share/.vscode


proxy/venv
proxy/test

proxy/uploads

scripts

# python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.whl
*.mypy_cache/
*.pytest_cache/
*.coverage
*.cover
*.hypothesis/
*.tox/
*.pyc

# pyenv
.python-version
# pipenv
Pipfile
Pipfile.lock


# mac files 
.DS_Store
.AppleDouble
.LSOverride
Icon
